<!DOCTYPE html>
<html ng-app="vivoLookbook">

<head>
    <meta http-equiv="Content-Language" content="en" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Vivo">
    <link rel="icon" href="https://www.vivocarat.com/images/icons/favico.png" type="image/x-icon" />
    
    <title>$title</title>
    <meta name="keywords" content="$meta_keywords" >
    <meta name="description" content="$meta_description" />
    <meta name="robots" content="$meta_robots" >
    <meta property="og:url" content="$og_url" />  
    <meta property="og:description" content="$og_description" />
    <meta property="og:title" content="$og_title" />
    <meta property="og:type" content="$og_type" />
    <meta property="og:image" content="$og_image" />
    <link rel="canonical" href="$canurl" />

    <!-- SEO -->
    <meta name="robots" content="noindex,nofollow" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="google-site-verification" content="d29imIOMXVw4oDrvX0W26H7Dg3_nAHDi75mhXZ5Wpc4" />

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#E62739">
    <meta name="msapplication-navbutton-color" content="#E62739">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" href="/css/jquery.simplyscroll.css" media="all" type="text/css">
    <link type="text/css" href="/css/magnific-popup.css" media="all" />
    <link href="/css/angular.rangeSlider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- menu css-->
    <link rel="stylesheet" type="text/css" href="/m-css/component.css" />
    <!--END of menu css-->

    <!--For full screen product image view-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

    <!-- FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
    
    <link rel="stylesheet" href="/m-css/style.css">

    <!-- Facebook Pixel Code -->
    <script>
        ! function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        /*fbq('init', '293278664418362', {
            em: 'insert_email_variable,'
        });*/
        fbq('init', '293278664418362');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=293278664418362&ev=PageView&noscript=1"
    /></noscript>
    <!-- DO NOT MODIFY -->

    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1026045347487468&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->

    <!-- onesignal start   -->
    <link rel="manifest" href="/manifest.json">
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
    <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(["init", {
            appId: "07f1f127-398a-4956-abf1-3d026ccd94d2",
            autoRegister: true,
            notifyButton: {
                enable: false /* Set to false to hide */
            }
        }]);
    </script>
    <!-- onesignal end   -->
</head>

<body id="cont" data-ng-controller='lookBookArticleCtrl' ng-cloak>
    <style>
        body {
            background-color: #e8ebf0 !important;
        }
    </style>
    <vivo-header></vivo-header>

    <div class="row">

        <div class="container m-b-15">
            <!-- Old code hidden by PR
            <div class="row pad-t-30 visible-xs hidden-sm hidden-md">
                <div class="row lookbook-category-text">
                    <div class="col-xs-8 no-pad-lr">

                        <div class="row">
                            <div class="col-xs-7 text-left no-pad-lr theme-text t13">
                                {{list.category}}
                            </div>

                            <div class="col-xs-5 no-pad-lr theme-text t13">
                                {{list.created_at | dateToISO | date:'dd MMMM'}}
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            Old code hidden by PR -->

            <div class="row pad-t-20">
                <div class="row lookbook-category-text-sm">
                    <div class="col-sm-9 no-pad-l">

                        <div class="row">
                            <div class="col-xs-4 text-left no-pad-lr">
                                <span class="theme-text t13">{{list.category}}</span>
                            </div>
                            <div class="col-xs-8 text-left no-pad-lr">
                                <span class="theme-text t13">
                                    {{list.created_at | dateToISO | date:'dd MMMM'}}
                                </span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- Old code hidden by PR
            <div class="row visible-xs hidden-sm hidden-md">
                <div class="col-xs-12 no-pad-lr article-title">
                    <h1>{{list.title}}</h1>
                </div>
            </div>
            Old code hidden by PR -->

            <div class="row">
                <div class="col-sm-12 no-pad-lr article-title-sm">
                    <h1 class="h2">{{list.title}}</h1>
                </div>
            </div>

            <!-- Old code hidden by PR
            <div class="row visible-xs hidden-sm hidden-md pad-b-20">
                <div class="col-xs-12 no-pad-lr theme-text t13">
                    <p data-ng-bind-html='list.lb_short_description' class="pad-t-10" data-ng-if="!readMore">

                    </p>

                    <div data-ng-if="readMore">
                        <p data-ng-bind-html='list.lb_long_description' class="pad-t-10">

                        </p>
                    </div>

                    <div data-ng-click='toggleReadMore()'>
                        <a class="theme-text-special bold">
                            {{readMore?'read less':'read more'}}
                        </a>
                    </div>

                </div>
            </div>
            Old code hidden by PR -->

            <div class="row pad-b-20">
                <div class="col-sm-12 theme-text t13 no-pad">
                    <p data-ng-bind-html='list.lb_short_description' class="exclude m-0 pad-t-10" data-ng-if="!readMore">

                    </p>

                    <div data-ng-if="readMore">
                        <p data-ng-bind-html='list.lb_long_description' class="exclude m-0 pad-t-10">

                        </p>
                    </div>

                    <div data-ng-click='toggleReadMore()'>
                        <a class="theme-text-special bold">
       {{readMore?'read less':'read more'}}
   </a>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 no-pad">
                    <img class="img-responsive w-full" data-ng-src="https://www.vivocarat.com/images/lookbook/blogs/{{list.banner_img}}.jpg" alt="{{list.banner_img}}">
                </div>
            </div>

            <section>
            <div class="row">
                <div class="col-xs-12 no-pad-lr">
                    <h2 class="hr"><span class="bg-lgray-e8ebf0">SIMILAR LOOKS</span></h2>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 no-pad-lr">
                    <div id="carousel-example" class="carousel slide box-outside-shadow" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">

                            <div class="item active">
                                <div class="row hidden-sm hidden-md visible-xs box-outside-shadow">
                                    <div class="col-xs-6 no-pad">
                                        <a data-ng-href="/product/{{slist[0].urlslug}}.html" target="_self">

                                            <div class="product_image">
                                                <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{slist[0].VC_SKU}}-1.jpg" class="img-responsive" alt="{{slist[0].title}}">
                                            </div>

                                            <div class="row pad-b-30 pad-t-20 bg-white">
                                                <div class="col-xs-12 no-pad text-center" ng-if="slist[0].category != 'Rings' && slist[0].category != 'Bangles' && slist[0].category != 'Bracelets'">
                                                    <a class="btn btn-vivo btn-xs" data-ng-click="buyNow(slist[0])"> 
            Buy Now 
        </a>
                                                </div>
                                                <div class="col-xs-12 no-pad text-center" ng-if="slist[0].category == 'Rings' || slist[0].category == 'Bangles' || slist[0].category == 'Bracelets'">
                                                    <a class="btn btn-vivo btn-xs" data-ng-href="/product/{{slist[0].urlslug}}.html" target="_self"> 
            Buy Now 
        </a>
                                                </div>
                                            </div>

                                        </a>
                                    </div>

                                    <div class="col-xs-6 no-pad">
                                        <a data-ng-href="/product/{{slist[1].urlslug}}.html" target="_self">

                                            <div class="product_image">
                                                <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{slist[1].VC_SKU}}-1.jpg" class="img-responsive" alt="{{slist[1].title}}">
                                            </div>

                                            <div class="row pad-b-30 pad-t-20 bg-white">
                                                <div class="col-xs-12 no-pad text-center" ng-if="slist[1].category != 'Rings' && slist[1].category != 'Bangles' && slist[1].category != 'Bracelets'">
                                                    <a class="btn btn-vivo btn-xs" data-ng-click="buyNow(slist[1])"> 
            Buy Now 
        </a>
                                                </div>
                                                <div class="col-xs-12 no-pad text-center" ng-if="slist[1].category == 'Rings' || slist[1].category == 'Bangles' || slist[1].category == 'Bracelets'">
                                                    <a class="btn btn-vivo btn-xs" data-ng-href="/product/{{slist[1].urlslug}}.html" target="_self"> 
            Buy Now 
        </a>
                                                </div>
                                            </div>

                                        </a>
                                    </div>
                                </div>

                                <div class="row hidden-xs visible-sm visible-md box-outside-shadow">
                                    <div class="col-sm-6 no-pad">
                                        <a data-ng-href="/product/{{slist[0].urlslug}}.html" target="_self">

                                            <div class="product_image">
                                                <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{slist[0].VC_SKU}}-1.jpg" class="carousel-img" alt="{{slist[0].title}}">
                                            </div>

                                            <div class="row pad-b-40 bg-white">
                                                <div class="col-sm-12 text-center buy-pos-md" ng-if="slist[0].category != 'Rings' && slist[0].category != 'Bangles' && slist[0].category != 'Bracelets'">
                                                    <a class="btn btn-vivo btn-md" data-ng-click="buyNow(slist[0])"> 
            Buy Now 
        </a>
                                                </div>
                                                <div class="col-sm-12 text-center buy-pos-md" ng-if="slist[0].category == 'Rings' || slist[0].category == 'Bangles' || slist[0].category == 'Bracelets'">
                                                    <a class="btn btn-vivo btn-md" data-ng-href="/product/{{slist[0].urlslug}}.html" target="_self"> 
            Buy Now 
        </a>
                                                </div>
                                            </div>

                                        </a>
                                    </div>

                                    <div class="col-xs-6 no-pad">
                                        <a data-ng-href="/product/{{slist[1].urlslug}}.html" target="_self">

                                            <div class="product_image">
                                                <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{slist[1].VC_SKU}}-1.jpg" class="carousel-img" alt="{{slist[1].title}}">
                                            </div>

                                            <div class="row pad-b-40 bg-white">
                                                <div class="col-sm-12 text-center buy-pos-md" ng-if="slist[1].category != 'Rings' && slist[1].category != 'Bangles' && slist[1].category != 'Bracelets'">
                                                    <a class="btn btn-vivo btn-md" data-ng-click="buyNow(slist[1])"> 
            Buy Now 
        </a>
                                                </div>
                                                <div class="col-sm-12 text-center buy-pos-md" ng-if="slist[1].category == 'Rings' || slist[1].category == 'Bangles' || slist[1].category == 'Bracelets'">
                                                    <a class="btn btn-vivo btn-md" data-ng-href="/product/{{slist[1].urlslug}}.html" target="_self"> 
            Buy Now 
        </a>
                                                </div>
                                            </div>

                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row hidden-sm hidden-md visible-xs box-outside-shadow">
                                    <div class="col-xs-6 no-pad">
                                        <a data-ng-href="/product/{{slist[2].urlslug}}.html" target="_self">

                                            <div class="product_image">
                                                <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{slist[2].VC_SKU}}-1.jpg" class="img-responsive" alt="{{slist[2].title}}">
                                            </div>

                                            <div class="row pad-b-30 pad-t-20 bg-white">
                                                <div class="col-xs-12 no-pad text-center" ng-if="slist[2].category != 'Rings' && slist[2].category != 'Bangles' && slist[2].category != 'Bracelets'">
                                                    <a class="btn btn-vivo btn-xs" data-ng-click="buyNow(slist[2])"> 
            Buy Now 
        </a>
                                                </div>
                                                <div class="col-xs-12 no-pad text-center" ng-if="slist[2].category == 'Rings' || slist[2].category == 'Bangles' || slist[2].category == 'Bracelets'">
                                                    <a class="btn btn-vivo btn-xs" data-ng-href="/product/{{slist[2].urlslug}}.html" target="_self"> 
            Buy Now 
        </a>
                                                </div>
                                            </div>

                                        </a>
                                    </div>

                                    <div class="col-xs-6 no-pad">
                                        <a data-ng-href="/product/{{slist[3].urlslug}}.html" target="_self">

                                            <div class="product_image">
                                                <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{slist[3].VC_SKU}}-1.jpg" class="img-responsive" alt="{{slist[3].title}}">
                                            </div>

                                            <div class="row pad-b-30 pad-t-20 bg-white">
                                                <div class="col-xs-12 no-pad text-center" ng-if="slist[3].category != 'Rings' && slist[3].category != 'Bangles' && slist[3].category != 'Bracelets'">
                                                    <a class="btn btn-vivo btn-xs" data-ng-click="buyNow(slist[3])"> 
            Buy Now 
        </a>
                                                </div>
                                                <div class="col-xs-12 no-pad text-center" ng-if="slist[3].category == 'Rings' || slist[3].category == 'Bangles' || slist[3].category == 'Bracelets'">
                                                    <a class="btn btn-vivo btn-xs" data-ng-href="/product/{{slist[3].urlslug}}.html" target="_self">
            Buy Now 
        </a>
                                                </div>
                                            </div>

                                        </a>
                                    </div>
                                </div>

                                <div class="row hidden-xs visible-sm visible-md box-outside-shadow">
                                    <div class="col-sm-6 no-pad">
                                        <a data-ng-href="/product/{{slist[2].urlslug}}.html" target="_self">

                                            <div class="product_image">
                                                <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{slist[2].VC_SKU}}-1.jpg" class="carousel-img" alt="{{slist[2].title}}">
                                            </div>

                                            <div class="row pad-b-40 bg-white">
                                                <div class="col-sm-12 text-center buy-pos-md" ng-if="slist[2].category != 'Rings' && slist[2].category != 'Bangles' && slist[2].category != 'Bracelets'">
                                                    <a class="btn btn-vivo btn-md" data-ng-click="buyNow(slist[2])"> 
            Buy Now 
        </a>
                                                </div>
                                                <div class="col-sm-12 text-center buy-pos-md" ng-if="slist[2].category == 'Rings' || slist[2].category == 'Bangles' || slist[2].category == 'Bracelets'">
                                                    <a class="btn btn-vivo btn-md" data-ng-href="/product/{{slist[2].urlslug}}.html" target="_self"> 
                                                        Buy Now 
                                                    </a>
                                                </div>
                                            </div>

                                        </a>
                                    </div>

                                    <div class="col-xs-6 no-pad">
                                        <a data-ng-href="/product/{{slist[3].urlslug}}.html" target="_self">

                                            <div class="product_image">
                                                <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{slist[3].VC_SKU}}-1.jpg" class="carousel-img" alt="{{slist[3].title}}">
                                            </div>

                                            <div class="row pad-b-40 bg-white">
                                                <div class="col-sm-12 text-center buy-pos-md" ng-if="slist[3].category != 'Rings' && slist[3].category != 'Bangles' && slist[3].category != 'Bracelets'">
                                                    <a class="btn btn-vivo btn-md" data-ng-click="buyNow(slist[3])"> 
                                                    Buy Now 
                                                </a>
                                                </div>
                                                <div class="col-sm-12 text-center buy-pos-md" ng-if="slist[3].category == 'Rings' || slist[3].category == 'Bangles' || slist[3].category == 'Bracelets'">
                                                    <a class="btn btn-vivo btn-md" data-ng-href="/product/{{slist[3].urlslug}}.html" target="_self"> 
                                                        Buy Now 
                                                    </a>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-xs-12 no-pad-lr">
                    <h2 class="hr"><span class="bg-lgray-e8ebf0">RELATED STORIES</span></h2>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 no-pad-l pad-r-5">
                    <a data-ng-href="/lookbook/{{related[0].urlslug}}.html" target="_self">
                        <div class="row box-outside-shadow">
                            <div class="col-xs-12 pad-5 bg-white">
                                <h3 class="exclude m-tb-10 text-limit">
                                    {{related[0].title}}
                                </h3>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 no-pad-lr">
                                    <img data-ng-src="https://www.vivocarat.com/images/lookbook/blogs/{{related[0].banner_img}}.jpg" alt="{{related[0].banner_img}}">
                                </div>
                            </div>

                            <div class="row bg-white">
                                <!-- Old code hidden by PR
                            <div class="col-sm-7 text-left no-pad-r category-sm">
                                {{related[0].category}}
                            </div>

                            <div class="col-sm-5 text-right no-pad-l category-sm">
                                
                            </div>
                            Old code hidden by PR -->

                                <div class="col-xs-12 pad-15">
                                    <span class="pull-left theme-text t13">{{related[0].category}}</span>
                                    <span class="pull-right theme-text t13">
                                    {{related[0].created_at | dateToISO | date:'dd MMMM'}}
                                </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xs-6 no-pad-r pad-l-5">
                    <a data-ng-href="/lookbook/{{related[1].urlslug}}.html" target="_self">
                        <div class="row box-outside-shadow">
                            <div class="col-xs-12 pad-5 bg-white">
                                <h3 class="exclude m-tb-10 text-limit">
                                    {{related[1].title}}
                                </h3>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 no-pad-lr">
                                    <img data-ng-src="https://www.vivocarat.com/images/lookbook/blogs/{{related[1].banner_img}}.jpg" alt="{{related[1].banner_img}}">
                                </div>
                            </div>

                            <div class="row bg-white">
                                <!-- Old code hidden by PR
                                <div class="col-sm-7 text-left no-pad-r category-sm">
                                    {{related[1].category}}
                                </div>

                                <div class="col-sm-5 text-right no-pad-l category-sm">
                                    {{related[1].created_at | dateToISO | date:'dd MMMM'}}
                                </div>
                                Old code hidden by PR -->
                                
                                <div class="col-xs-12 pad-15">
                                    <span class="pull-left theme-text t13">{{related[1].category}}</span>
                                    <span class="pull-right theme-text t13">
                                    {{related[1].created_at | dateToISO | date:'dd MMMM'}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
            <!--
            <div class="row visible-xs hidden-sm hidden-md">
             <div class="col-xs-12 text-center pad-t-20 pad-b-20">
              <p>
                <a class="prev-next padding-right-10px" data-ng-href="#lookbookArticle/{{id-1}}">Previous</a>|&nbsp;
                <a class="padding-left-15px" data-ng-href="#lookbookArticle/{{id+1}}">Next</a>
              </p>

             </div>  
            </div>

            <div class="row visible-sm visible-md hidden-xs">
             <div class="col-xs-12 text-center pad-t-20 pad-b-20">
              <p>
                <a class="prev-next padding-right-10px" data-ng-href="#lookbookArticle/{{id-1}}">Previous</a>|&nbsp;
                <a class="padding-left-15px" data-ng-href="#lookbookArticle/{{id+1}}">Next</a>
              </p>

             </div>  
            </div>
            -->
            <!-- Old code hidden by PR
        <div class="row visible-xs hidden-sm hidden-md">
            <div class="col-xs-7 vivocarat-heading">
                <h2>SIMILAR LOOKS</h2>
            </div>

            <div class="col-xs-5 categoryGrad">

            </div>
        </div>
        
        <div class="row visible-sm visible-md hidden-xs">
            <div class="col-sm-4 vivocarat-heading-sm">SIMILAR LOOKS</div>

            <div class="col-sm-8 categoryGrad-sm">

            </div>
        </div>
        Old code hidden by PR -->
        
        <!--
        <div class="row visible-xs hidden-md hidden-sm">
         <div class="col-xs-12 text-center pad-t-30 pad-b-30">
          <a class="btn browse-button" data-ng-href="#i/search/{{list.browse_link}}"> 
              Browse more styles 
          </a>  
         </div>   
        </div>

        <div class="row visible-sm visible-md  hidden-xs">
         <div class="col-sm-12 text-center pad-t-30 pad-b-30">
          <a class="btn browse-button-sm" data-ng-href="#i/search/{{list.browse_link}}"> 
              Browse more styles 
          </a>  
         </div>   
        </div>
        -->
        <!-- Old code hidden by PR
        <div class="row visible-xs hidden-sm hidden-md">
            <div class="col-xs-7 vivocarat-heading">
                <h2>RELATED STORIES</h2>
            </div>

            <div class="col-xs-5 categoryGrad">

            </div>
        </div>
        <div class="row visible-sm visible-md hidden-xs">
            <div class="col-sm-5 vivocarat-heading-sm">RELATED STORIES</div>

            <div class="col-sm-7 categoryGrad-sm">

            </div>
        </div>

        <div class="row visible-xs hidden-sm hidden-md pad-b-30">
            <div class="col-xs-6 padding-right-8px">

                <a data-ng-href="/lookbook/{{related[0].urlslug}}.html" target="_self">
                    <div class="row box-outside-shadow">
                        <div class="col-xs-12 bg-white pad-5">
                            <p class="lookbook-title">
                                {{related[0].title}}
                            </p>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 no-pad-lr">
                                <img data-ng-src="https://www.vivocarat.com/images/lookbook/blogs/{{related[0].banner_img}}.jpg" alt="{{related[0].banner_img}}">
                            </div>
                        </div>

                        <div class="row bg-white pad-5">
                            <div class="col-xs-7 category">
                                {{related[0].category}}
                            </div>

                            <div class="col-xs-5 created">
                                {{related[0].created_at | dateToISO | date:'dd MMM'}}
                            </div>
                        </div>
                    </div>
                </a>

            </div>

            <div class="col-xs-6 padding-left-8px">

                <a data-ng-href="/lookbook/{{related[1].urlslug}}.html" target="_self">
                    <div class="row box-outside-shadow">
                        <div class="col-xs-12 bg-white pad-5">
                            <p class="lookbook-title">
                                {{related[1].title}}
                            </p>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 no-pad-lr">
                                <img data-ng-src="https://www.vivocarat.com/images/lookbook/blogs/{{related[1].banner_img}}.jpg" alt="{{related[1].banner_img}}">
                            </div>
                        </div>

                        <div class="row bg-white pad-5">
                            <div class="col-xs-7 category">
                                {{related[1].category}}
                            </div>

                            <div class="col-xs-5 created">
                                {{related[1].created_at | dateToISO | date:'dd MMM'}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        Old code hidden by PR -->
        </div>
        

        
    </div>
    <vivo-footer></vivo-footer>

    <script src="/js/jquery.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="/js/jquery.simplyscroll.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-ui-router.min.js"></script>
    <script src="/js/angular-animate.min.js"></script>
    <script src="/js/angular-sanitize.js"></script>
    <script src="/js/satellizer.min.js"></script>
    <script src="/js/angular.rangeSlider.js"></script>
    <script src="/js/select.js"></script>
    <script src="/js/toaster.js"></script>
    <script src="/js/angular-google-plus.min.js"></script>

    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
    <script src="/js/ngclipboard.min.js"></script>
    <script src="/js/notify.min.js"></script>

    <!--For loading list,splist & search items(pagination)-->
    <script src="/js/taggedInfiniteScroll.js"></script>
    <!--END of pagination script-->

    <!--For file upload-->
    <script src="/js/angular-file-upload.min.js"></script>
    <!--End scripts for file upload-->

    <script src="/m-js/modules/vivoCommon.js"></script>
    <script src="/m-js/modules/vivoLookbook.js"></script>
    <script src="/app/data.js"></script>
    <script src="/app/directives.js"></script>
    <script src="/js/jquery-ui.min.js"></script>

    <!--Script for carousel touch swipe-->
    <script>
        $(document).bind('mobileinit', function() {
            $.mobile.changePage.defaults.changeHash = false;
            $.mobile.hashListeningEnabled = false;
            $.mobile.pushStateEnabled = false;
        });
    </script>
    <script src="/js/jquery.mobile-1.4.5.min.js"></script>
    <!--END of Script for carousel touch swipe-->

    <!--To prevent display of loading text while page loads-->
    <script>
        $(document).ready(function() {
            $(".ui-loader").hide();

            $(".carousel").swiperight(function() {
                $(this).carousel('prev');
            });
            $(".carousel").swipeleft(function() {
                $(this).carousel('next');
            });
        });
    </script>
    <!--END of loading text display prevention-->

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <!--    <script src="/js/jquery.etalage.min.js"></script>-->

    <!--Google analytics-->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-67690535-1', 'auto');
        ga('send', 'pageview');
    </script>

    <!--Full screen product image view js-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

    <!--menu-->
    <script src="/m-js/modernizr.custom.js"></script>
    <script src="/m-js/jquery.dlmenu.js"></script>
    <!--END of menu-->

    <!--Start of Tawk.to Script-->
    <script>
        var Tawk_API = Tawk_API || {},
            Tawk_LoadStart = new Date();
        (function() {
            var s1 = document.createElement("script"),
                s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/59198f0664f23d19a89b22bb/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

</body>

</html>