<div class="row visible-xs hidden-sm hidden-md bg-lgray-e8ebf0" data-ng-hide="recently.length<1 || recently == null">
 <div class="col-xs-12 pad-lr-0">
  <div id="carousel-featured" class="carousel slide" data-ride="carousel">
            
     <!-- Carousel indicators -->
   <ol class="carousel-indicators -ve-margin-bottom-30px">
    <li class="active" data-target="#carousel-featured" data-slide-to="0"></li>&nbsp;&nbsp;
    <li data-target="#carousel-example" data-slide-to="1"></li>&nbsp;&nbsp;
    <li data-target="#carousel-example" data-slide-to="2"></li>&nbsp;&nbsp;
    <li data-target="#carousel-example" data-slide-to="3"></li>&nbsp;&nbsp;
    <li data-target="#carousel-example" data-slide-to="4"></li>&nbsp;&nbsp;
    <li data-target="#carousel-example" data-slide-to="5"></li>
   </ol>
            
                    <!-- Wrapper for slides -->
   <div class="carousel-inner">
                        
    <div class="item active">
     <div class="row box-outside-shadow">
      <div class="col-xs-6 no-pad" data-ng-if="recently.length>0">
       <a data-ng-href="/product/{{recently[0].urlslug}}.html" target="_self">
        
        <div class="product_image">
         <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{recently[0].VC_SKU}}-t.jpg" class="img-responsive pad-t-20 bg-white"/>
        </div>
                
        <div class="row bg-white">
         <div class="col-xs-12 text-center grid-price-after no-pad-lr">
              RS. {{recently[0].price_after_discount | INR}}
         </div>
        </div>
              
        <div class="row pad-b-30 pad-t-20 bg-white">
         <div class="col-xs-12 no-pad text-center" ng-if="recently[0].category != 'Rings' && recently[0].category != 'Bangles' && recently[0].category != 'Bracelets'">
          <a class="buy-now-featured" data-ng-click="buyNow(recently[0])"> 
             Buy Now 
          </a>
         </div>
         <div class="col-xs-12 no-pad text-center" ng-if="recently[0].category == 'Rings' || recently[0].category == 'Bangles' || recently[0].category == 'Bracelets'">
          <a class="buy-now-featured" data-ng-href="/product/{{recently[0].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
         </div>
        </div>

       </a>
      </div>

      <div class="col-xs-6 no-pad" data-ng-if="recently.length>1">
       <a data-ng-href="/product/{{recently[1].urlslug}}.html" target="_self">
        
        <div class="product_image">
         <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{recently[1].VC_SKU}}-t.jpg" class="img-responsive pad-t-20 bg-white"/>
        </div>
                
        <div class="row bg-white">
         <div class="col-xs-12 text-center grid-price-after no-pad-lr">
              RS. {{recently[1].price_after_discount | INR}}
         </div>
        </div>
              
        <div class="row pad-b-30 pad-t-20 bg-white">
         <div class="col-xs-12 no-pad text-center" ng-if="recently[1].category != 'Rings' && recently[1].category != 'Bangles' && recently[1].category != 'Bracelets'">
          <a class="buy-now-featured" data-ng-click="buyNow(recently[1])"> 
             Buy Now 
          </a>
         </div>
         <div class="col-xs-12 no-pad text-center" ng-if="recently[1].category == 'Rings' || recently[1].category == 'Bangles' || recently[1].category == 'Bracelets'">
          <a class="buy-now-featured" data-ng-href="/product/{{recently[1].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
         </div>
        </div>

       </a>
      </div>
     </div>
             
    </div>
    
    <div class="item" data-ng-if="recently.length>2">
     <div class="row box-outside-shadow">
      <div class="col-xs-6 no-pad" data-ng-if="recently.length>2">
       <a data-ng-href="/product/{{recently[2].urlslug}}.html" target="_self">
        
        <div class="product_image">
         <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{recently[2].VC_SKU}}-t.jpg" class="img-responsive pad-t-20 bg-white"/>
        </div>
                
        <div class="row bg-white">
         <div class="col-xs-12 text-center grid-price-after no-pad-lr">
              RS. {{recently[2].price_after_discount | INR}}
         </div>
        </div>
              
        <div class="row pad-b-30 pad-t-20 bg-white">
         <div class="col-xs-12 no-pad text-center" ng-if="recently[2].category != 'Rings' && recently[2].category != 'Bangles' && recently[2].category != 'Bracelets'">
          <a class="buy-now-featured" data-ng-click="buyNow(recently[2])"> 
             Buy Now 
          </a>
         </div>
         <div class="col-xs-12 no-pad text-center" ng-if="recently[2].category == 'Rings' || recently[2].category == 'Bangles' || recently[2].category == 'Bracelets'">
          <a class="buy-now-featured" data-ng-href="/product/{{recently[2].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
         </div>
        </div>

       </a>
      </div>

      <div class="col-xs-6 no-pad" data-ng-if="recently.length>3">
       <a data-ng-href="/product/{{recently[3].urlslug}}.html" target="_self">
        
        <div class="product_image">
         <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{recently[3].VC_SKU}}-t.jpg" class="img-responsive pad-t-20 bg-white"/>
        </div>
                
        <div class="row bg-white">
         <div class="col-xs-12 text-center grid-price-after no-pad-lr">
              RS. {{recently[3].price_after_discount | INR}}
         </div>
        </div>
              
        <div class="row pad-b-30 pad-t-20 bg-white">
         <div class="col-xs-12 no-pad text-center" ng-if="recently[3].category != 'Rings' && recently[3].category != 'Bangles' && recently[3].category != 'Bracelets'">
          <a class="buy-now-featured" data-ng-click="buyNow(recently[3])"> 
             Buy Now 
          </a>
         </div>
         <div class="col-xs-12 no-pad text-center" ng-if="recently[3].category == 'Rings' || recently[3].category == 'Bangles' || recently[3].category == 'Bracelets'">
          <a class="buy-now-featured" data-ng-href="/product/{{recently[3].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
         </div>
        </div>

       </a>
      </div>
         </div>
    </div>
       
    <div class="item" data-ng-if="recently.length>4">
     <div class="row box-outside-shadow">
      <div class="col-xs-6 no-pad" data-ng-if="recently.length>4">
       <a data-ng-href="/product/{{recently[4].urlslug}}.html" target="_self">
        
        <div class="product_image">
         <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{recently[4].VC_SKU}}-t.jpg" class="img-responsive pad-t-20 bg-white"/>
        </div>
                
        <div class="row bg-white">
         <div class="col-xs-12 text-center grid-price-after no-pad-lr">
              RS. {{recently[4].price_after_discount | INR}}
         </div>
        </div>
              
        <div class="row pad-b-30 pad-t-20 bg-white">
         <div class="col-xs-12 no-pad text-center" ng-if="recently[4].category != 'Rings' && recently[4].category != 'Bangles' && recently[4].category != 'Bracelets'">
          <a class="buy-now-featured" data-ng-click="buyNow(recently[4])"> 
             Buy Now 
          </a>
         </div>
         <div class="col-xs-12 no-pad text-center" ng-if="recently[4].category == 'Rings' || recently[4].category == 'Bangles' || recently[4].category == 'Bracelets'">
          <a class="buy-now-featured" ddata-ng-href="/product/{{recently[4].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
         </div>
        </div>

       </a>
      </div>

      <div class="col-xs-6 no-pad" data-ng-if="recently.length>5">
       <a data-ng-href="/product/{{recently[5].urlslug}}.html" target="_self">
        
        <div class="product_image">
         <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{recently[5].VC_SKU}}-t.jpg" class="img-responsive pad-t-20 bg-white"/>
        </div>
                
        <div class="row bg-white">
         <div class="col-xs-12 text-center grid-price-after no-pad-lr">
              RS. {{recently[5].price_after_discount | INR}}
         </div>
        </div>
              
        <div class="row pad-b-30 pad-t-20 bg-white">
         <div class="col-xs-12 no-pad text-center" ng-if="recently[5].category != 'Rings' && recently[5].category != 'Bangles' && recently[5].category != 'Bracelets'">
          <a class="buy-now-featured" data-ng-click="buyNow(recently[5])"> 
             Buy Now 
          </a>
         </div>
         <div class="col-xs-12 no-pad text-center" ng-if="recently[5].category == 'Rings' || recently[5].category == 'Bangles' || recently[5].category == 'Bracelets'">
          <a class="buy-now-featured" data-ng-href="/product/{{recently[5].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
         </div>
        </div>

       </a>
      </div>
         </div>
    </div>
       
    <div class="item" data-ng-if="recently.length>6">
     <div class="row box-outside-shadow">
      <div class="col-xs-6 no-pad" data-ng-if="recently.length>6">
       <a data-ng-href="/product/{{recently[6].urlslug}}.html" target="_self">
        
        <div class="product_image">
         <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{recently[6].VC_SKU}}-t.jpg" class="img-responsive pad-t-20 bg-white"/>
        </div>
                
        <div class="row bg-white">
         <div class="col-xs-12 text-center grid-price-after no-pad-lr">
              RS. {{recently[6].price_after_discount | INR}}
         </div>
        </div>
              
        <div class="row pad-b-30 pad-t-20 bg-white">
         <div class="col-xs-12 no-pad text-center" ng-if="recently[6].category != 'Rings' && recently[6].category != 'Bangles' && recently[6].category != 'Bracelets'">
          <a class="buy-now-featured" data-ng-click="buyNow(recently[6])"> 
             Buy Now 
          </a>
         </div>
         <div class="col-xs-12 no-pad text-center" ng-if="recently[6].category == 'Rings' || recently[6].category == 'Bangles' || recently[6].category == 'Bracelets'">
          <a class="buy-now-featured" data-ng-href="/product/{{recently[6].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
         </div>
        </div>

       </a>
      </div>

      <div class="col-xs-6 no-pad" data-ng-if="recently.length>7">
       <a data-ng-href="/product/{{recently[7].urlslug}}.html" target="_self">
        
        <div class="product_image">
         <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{recently[7].VC_SKU}}-t.jpg" class="img-responsive pad-t-20 bg-white"/>
        </div>
                
        <div class="row bg-white">
         <div class="col-xs-12 text-center grid-price-after no-pad-lr">
              RS. {{recently[7].price_after_discount | INR}}
         </div>
        </div>
              
        <div class="row pad-b-30 pad-t-20 bg-white">
         <div class="col-xs-12 no-pad text-center" ng-if="recently[7].category != 'Rings' && recently[7].category != 'Bangles' && recently[7].category != 'Bracelets'">
          <a class="buy-now-featured" data-ng-click="buyNow(recently[7])"> 
             Buy Now 
          </a>
         </div>
         <div class="col-xs-12 no-pad text-center" ng-if="recently[7].category == 'Rings' || recently[7].category == 'Bangles' || recently[7].category == 'Bracelets'">
          <a class="buy-now-featured" data-ng-href="/product/{{recently[7].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
         </div>
        </div>

       </a>
      </div>
         </div>
    </div>
       
    <div class="item" data-ng-if="recently.length>8">
     <div class="row box-outside-shadow">
      <div class="col-xs-6 no-pad" data-ng-if="recently.length>8">
       <a data-ng-href="/product/{{recently[8].urlslug}}.html" target="_self">
        
        <div class="product_image">
         <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{recently[8].VC_SKU}}-t.jpg" class="img-responsive pad-t-20 bg-white"/>
        </div>
                
        <div class="row bg-white">
         <div class="col-xs-12 text-center grid-price-after no-pad-lr">
              RS. {{recently[8].price_after_discount | INR}}
         </div>
        </div>
              
        <div class="row pad-b-30 pad-t-20 bg-white">
         <div class="col-xs-12 no-pad text-center" ng-if="recently[8].category != 'Rings' && recently[8].category != 'Bangles' && recently[8].category != 'Bracelets'">
          <a class="buy-now-featured" data-ng-click="buyNow(recently[8])"> 
             Buy Now 
          </a>
         </div>
         <div class="col-xs-12 no-pad text-center" ng-if="recently[8].category == 'Rings' || recently[8].category == 'Bangles' || recently[8].category == 'Bracelets'">
          <a class="buy-now-featured" data-ng-href="/product/{{recently[8].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
         </div>
        </div>

       </a>
      </div>

      <div class="col-xs-6 no-pad" data-ng-if="recently.length>9">
       <a data-ng-href="/product/{{recently[9].urlslug}}.html" target="_self">
        
        <div class="product_image">
         <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{recently[9].VC_SKU}}-t.jpg" class="img-responsive pad-t-20 bg-white"/>
        </div>
                
        <div class="row bg-white">
         <div class="col-xs-12 text-center grid-price-after no-pad-lr">
              RS. {{recently[9].price_after_discount | INR}}
         </div>
        </div>
              
        <div class="row pad-b-30 pad-t-20 bg-white">
         <div class="col-xs-12 no-pad text-center" ng-if="recently[9].category != 'Rings' && recently[9].category != 'Bangles' && recently[9].category != 'Bracelets'">
          <a class="buy-now-featured" data-ng-click="buyNow(recently[9])"> 
             Buy Now 
          </a>
         </div>
         <div class="col-xs-12 no-pad text-center" ng-if="recently[9].category == 'Rings' || recently[9].category == 'Bangles' || recently[9].category == 'Bracelets'">
          <a class="buy-now-featured" data-ng-href="/product/{{recently[9].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
         </div>
        </div>

       </a>
      </div>
         </div>
    </div>
       
    <div class="item" data-ng-if="recently.length>10">
     <div class="row box-outside-shadow">
      <div class="col-xs-6 no-pad" data-ng-if="recently.length>10">
       <a data-ng-href="/product/{{recently[10].urlslug}}.html" target="_self">
        
        <div class="product_image">
         <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{recently[10].VC_SKU}}-t.jpg" class="img-responsive pad-t-20 bg-white"/>
        </div>
                
        <div class="row bg-white">
         <div class="col-xs-12 text-center grid-price-after no-pad-lr">
              RS. {{recently[10].price_after_discount | INR}}
         </div>
        </div>
              
        <div class="row pad-b-30 pad-t-20 bg-white">
         <div class="col-xs-12 no-pad text-center" ng-if="recently[10].category != 'Rings' && recently[10].category != 'Bangles' && recently[10].category != 'Bracelets'">
          <a class="buy-now-featured" data-ng-click="buyNow(recently[10])"> 
             Buy Now 
          </a>
         </div>
         <div class="col-xs-12 no-pad text-center" ng-if="recently[10].category == 'Rings' || recently[10].category == 'Bangles' || recently[10].category == 'Bracelets'">
          <a class="buy-now-featured" ddata-ng-href="/product/{{recently[10].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
         </div>
        </div>

       </a>
      </div>

      <div class="col-xs-6 no-pad" data-ng-if="recently.length>11">
       <a data-ng-href="/product/{{recently[11].urlslug}}.html" target="_self">
        
        <div class="product_image">
         <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{recently[11].VC_SKU}}-t.jpg" class="img-responsive pad-t-20 bg-white"/>
        </div>
                
        <div class="row bg-white">
         <div class="col-xs-12 text-center grid-price-after no-pad-lr">
              RS. {{recently[11].price_after_discount | INR}}
         </div>
        </div>
              
        <div class="row pad-b-30 pad-t-20 bg-white">
         <div class="col-xs-12 no-pad text-center" ng-if="recently[11].category != 'Rings' && recently[11].category != 'Bangles' && recently[11].category != 'Bracelets'">
          <a class="buy-now-featured" data-ng-click="buyNow(recently[11])"> 
             Buy Now 
          </a>
         </div>
         <div class="col-xs-12 no-pad text-center" ng-if="recently[11].category == 'Rings' || recently[11].category == 'Bangles' || recently[11].category == 'Bracelets'">
          <a class="buy-now-featured" data-ng-href="/product/{{recently[11].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
         </div>
        </div>

       </a>
      </div>
         </div>
    </div>
                     
   </div>
            
       </div>
  
      </div>
    </div>
    
<div class="row visible-sm visible-md hidden-xs" data-ng-hide="recently.length<1 || recently == null">
 <div class="col-xs-12 bg-lgray-e8ebf0 pad-lr-0">
  <div id="carousel-featured-sm" class="carousel slide" data-ride="carousel">
            
     <!-- Carousel indicators -->
   <ol class="carousel-indicators -ve-margin-bottom-50px">
    <li class="active" data-target="#carousel-featured-sm" data-slide-to="0"></li>&nbsp;&nbsp;
    <li data-target="#carousel-example" data-slide-to="1"></li>&nbsp;&nbsp;
    <li data-target="#carousel-example" data-slide-to="2"></li>&nbsp;&nbsp;
    <li data-target="#carousel-example" data-slide-to="3"></li>&nbsp;&nbsp;
    <li data-target="#carousel-example" data-slide-to="4"></li>&nbsp;&nbsp;
    <li data-target="#carousel-example" data-slide-to="5"></li>
   </ol>
            
                    <!-- Wrapper for slides -->
   <div class="carousel-inner">
                        
    <div class="item active">
     <div class="row box-outside-shadow">
      <div class="col-sm-6 no-pad" data-ng-if="recently.length>0">
       <a data-ng-href="/product/{{recently[0].urlslug}}.html" target="_self">
                                       
        <div class="product_image">
         <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{recently[0].VC_SKU}}-t.jpg" class="carousel-img img-responsive"/>
        </div>
                
        <div class="row bg-white">
         <div class="col-sm-12 text-center grid-price-after-sm">
              RS. {{recently[0].price_after_discount | INR}}
         </div>
        </div> 
           
        <div class="row pad-b-30 pad-t-20 bg-white">
         <div class="col-sm-12 no-pad text-center" ng-if="recently[0].category != 'Rings' && recently[0].category != 'Bangles' && recently[0].category != 'Bracelets'">
          <a class="buy-now-featured-sm" data-ng-click="buyNow(recently[0])"> 
             Buy Now 
          </a>
         </div>
         <div class="col-sm-12 no-pad text-center" ng-if="recently[0].category == 'Rings' || recently[0].category == 'Bangles' || recently[0].category == 'Bracelets'">
          <a class="buy-now-featured-sm" data-ng-href="/product/{{recently[0].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
         </div>    
        </div>

        </a>
      </div>
              
      <div class="col-sm-6 no-pad" data-ng-if="recently.length>1">
       <a data-ng-href="/product/{{recently[1].urlslug}}.html" target="_self">
                                       
        <div class="product_image">
         <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{recently[1].VC_SKU}}-t.jpg" class="carousel-img img-responsive"/>
        </div>
                
        <div class="row bg-white">
         <div class="col-sm-12 text-center grid-price-after-sm">
              RS. {{recently[1].price_after_discount | INR}}
         </div>
        </div> 
           
        <div class="row pad-b-30 pad-t-20 bg-white">
         <div class="col-sm-12 no-pad text-center" ng-if="recently[1].category != 'Rings' && recently[1].category != 'Bangles' && recently[1].category != 'Bracelets'">
          <a class="buy-now-featured-sm" data-ng-click="buyNow(recently[1])"> 
             Buy Now 
          </a>
         </div>
         <div class="col-sm-12 no-pad text-center" ng-if="recently[1].category == 'Rings' || recently[1].category == 'Bangles' || recently[1].category == 'Bracelets'">
          <a class="buy-now-featured-sm" data-ng-href="/product/{{recently[1].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
         </div>    
        </div>

        </a>
      </div>
     </div>
    </div>
    
    <div class="item" data-ng-if="recently.length>2">
     <div class="row box-outside-shadow">
      <div class="col-sm-6 no-pad" data-ng-if="recently.length>2">
       <a data-ng-href="/product/{{recently[2].urlslug}}.html" target="_self">
                                       
        <div class="product_image">
         <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{recently[2].VC_SKU}}-t.jpg" class="carousel-img img-responsive"/>
        </div>
                
        <div class="row bg-white">
         <div class="col-sm-12 text-center grid-price-after-sm">
              RS. {{recently[2].price_after_discount | INR}}
         </div>
        </div> 
           
        <div class="row pad-b-30 pad-t-20 bg-white">
         <div class="col-sm-12 no-pad text-center" ng-if="recently[2].category != 'Rings' && recently[2].category != 'Bangles' && recently[2].category != 'Bracelets'">
          <a class="buy-now-featured-sm" data-ng-click="buyNow(recently[2])"> 
             Buy Now 
          </a>
         </div>
         <div class="col-sm-12 no-pad text-center" ng-if="recently[2].category == 'Rings' || recently[2].category == 'Bangles' || recently[2].category == 'Bracelets'">
          <a class="buy-now-featured-sm" data-ng-href="/product/{{recently[2].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
         </div>    
        </div>

        </a>
      </div>
              
      <div class="col-sm-6 no-pad" data-ng-if="recently.length>3">
       <a data-ng-href="/product/{{recently[3].urlslug}}.html" target="_self">
                                       
        <div class="product_image">
         <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{recently[3].VC_SKU}}-t.jpg" class="carousel-img img-responsive"/>
        </div>
                
        <div class="row bg-white">
         <div class="col-sm-12 text-center grid-price-after-sm">
              RS. {{recently[3].price_after_discount | INR}}
         </div>
        </div> 
           
        <div class="row pad-b-30 pad-t-20 bg-white">
         <div class="col-sm-12 no-pad text-center" ng-if="recently[3].category != 'Rings' && recently[3].category != 'Bangles' && recently[3].category != 'Bracelets'">
          <a class="buy-now-featured-sm" data-ng-click="buyNow(recently[3])"> 
             Buy Now 
          </a>
         </div>
         <div class="col-sm-12 no-pad text-center" ng-if="recently[3].category == 'Rings' || recently[3].category == 'Bangles' || recently[3].category == 'Bracelets'">
          <a class="buy-now-featured-sm" data-ng-href="/product/{{recently[3].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
         </div>    
        </div>

        </a>
      </div>
     </div>
    </div>
       
    <div class="item" data-ng-if="recently.length>4">
     <div class="row box-outside-shadow">
      <div class="col-sm-6 no-pad" data-ng-if="recently.length>4">
       <a data-ng-href="/product/{{recently[4].urlslug}}.html" target="_self">
                                       
        <div class="product_image">
         <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{recently[4].VC_SKU}}-t.jpg" class="carousel-img img-responsive"/>
        </div>
                
        <div class="row bg-white">
         <div class="col-sm-12 text-center grid-price-after-sm">
              RS. {{recently[4].price_after_discount | INR}}
         </div>
        </div> 
           
        <div class="row pad-b-30 pad-t-20 bg-white">
         <div class="col-sm-12 no-pad text-center" ng-if="recently[4].category != 'Rings' && recently[4].category != 'Bangles' && recently[4].category != 'Bracelets'">
          <a class="buy-now-featured-sm" data-ng-click="buyNow(recently[4])"> 
             Buy Now 
          </a>
         </div>
         <div class="col-sm-12 no-pad text-center" ng-if="recently[4].category == 'Rings' || recently[4].category == 'Bangles' || recently[4].category == 'Bracelets'">
          <a class="buy-now-featured-sm" data-ng-href="/product/{{recently[4].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
         </div>    
        </div>

        </a>
      </div>
              
      <div class="col-sm-6 no-pad" data-ng-if="recently.length>5">
       <a data-ng-href="/product/{{recently[5].urlslug}}.html" target="_self">
                                       
        <div class="product_image">
         <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{recently[5].VC_SKU}}-t.jpg" class="carousel-img img-responsive"/>
        </div>
                
        <div class="row bg-white">
         <div class="col-sm-12 text-center grid-price-after-sm">
              RS. {{recently[5].price_after_discount | INR}}
         </div>
        </div> 
           
        <div class="row pad-b-30 pad-t-20 bg-white">
         <div class="col-sm-12 no-pad text-center" ng-if="recently[5].category != 'Rings' && recently[5].category != 'Bangles' && recently[5].category != 'Bracelets'">
          <a class="buy-now-featured-sm" data-ng-click="buyNow(recently[5])"> 
             Buy Now 
          </a>
         </div>
         <div class="col-sm-12 no-pad text-center" ng-if="recently[5].category == 'Rings' || recently[5].category == 'Bangles' || recently[5].category == 'Bracelets'">
          <a class="buy-now-featured-sm" data-ng-href="/product/{{recently[5].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
         </div>    
        </div>

        </a>
      </div>
     </div>
    </div>
       
    <div class="item" data-ng-if="recently.length>6">
     <div class="row box-outside-shadow">
      <div class="col-sm-6 no-pad" data-ng-if="recently.length>6">
       <a data-ng-href="/product/{{recently[6].urlslug}}.html" target="_self">
                                       
        <div class="product_image">
         <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{recently[6].VC_SKU}}-t.jpg" class="carousel-img img-responsive"/>
        </div>
                
        <div class="row bg-white">
         <div class="col-sm-12 text-center grid-price-after-sm">
              RS. {{recently[6].price_after_discount | INR}}
         </div>
        </div> 
           
        <div class="row pad-b-30 pad-t-20 bg-white">
         <div class="col-sm-12 no-pad text-center" ng-if="recently[6].category != 'Rings' && recently[6].category != 'Bangles' && recently[6].category != 'Bracelets'">
          <a class="buy-now-featured-sm" data-ng-click="buyNow(recently[6])"> 
             Buy Now 
          </a>
         </div>
         <div class="col-sm-12 no-pad text-center" ng-if="recently[6].category == 'Rings' || recently[6].category == 'Bangles' || recently[6].category == 'Bracelets'">
          <a class="buy-now-featured-sm" data-ng-href="/product/{{recently[6].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
         </div>    
        </div>

        </a>
      </div>
              
      <div class="col-sm-6 no-pad" data-ng-if="recently.length>7">
       <a data-ng-href="/product/{{recently[7].urlslug}}.html" target="_self">
                                       
        <div class="product_image">
         <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{recently[7].VC_SKU}}-t.jpg" class="carousel-img img-responsive"/>
        </div>
                
        <div class="row bg-white">
         <div class="col-sm-12 text-center grid-price-after-sm">
              RS. {{recently[7].price_after_discount | INR}}
         </div>
        </div> 
           
        <div class="row pad-b-30 pad-t-20 bg-white">
         <div class="col-sm-12 no-pad text-center" ng-if="recently[7].category != 'Rings' && recently[7].category != 'Bangles' && recently[7].category != 'Bracelets'">
          <a class="buy-now-featured-sm" data-ng-click="buyNow(recently[7])"> 
             Buy Now 
          </a>
         </div>
         <div class="col-sm-12 no-pad text-center" ng-if="recently[7].category == 'Rings' || recently[7].category == 'Bangles' || recently[7].category == 'Bracelets'">
          <a class="buy-now-featured-sm" data-ng-href="/product/{{recently[7].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
         </div>    
        </div>

        </a>
      </div>
     </div>
    </div>
       
    <div class="item" data-ng-if="recently.length>8">
     <div class="row box-outside-shadow">
      <div class="col-sm-6 no-pad" data-ng-if="recently.length>8">
       <a data-ng-href="/product/{{recently[8].urlslug}}.html" target="_self">
                                       
        <div class="product_image">
         <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{recently[8].VC_SKU}}-t.jpg" class="carousel-img img-responsive"/>
        </div>
                
        <div class="row bg-white">
         <div class="col-sm-12 text-center grid-price-after-sm">
              RS. {{recently[8].price_after_discount | INR}}
         </div>
        </div> 
           
        <div class="row pad-b-30 pad-t-20 bg-white">
         <div class="col-sm-12 no-pad text-center" ng-if="recently[8].category != 'Rings' && recently[8].category != 'Bangles' && recently[8].category != 'Bracelets'">
          <a class="buy-now-featured-sm" data-ng-click="buyNow(recently[8])"> 
             Buy Now 
          </a>
         </div>
         <div class="col-sm-12 no-pad text-center" ng-if="recently[8].category == 'Rings' || recently[8].category == 'Bangles' || recently[8].category == 'Bracelets'">
          <a class="buy-now-featured-sm" data-ng-href="/product/{{recently[8].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
         </div>    
        </div>

        </a>
      </div>
              
      <div class="col-sm-6 no-pad" data-ng-if="recently.length>9">
       <a data-ng-href="/product/{{recently[9].urlslug}}.html" target="_self">
                                       
        <div class="product_image">
         <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{recently[9].VC_SKU}}-t.jpg" class="carousel-img img-responsive"/>
        </div>
                
        <div class="row bg-white">
         <div class="col-sm-12 text-center grid-price-after-sm">
              RS. {{recently[9].price_after_discount | INR}}
         </div>
        </div> 
           
        <div class="row pad-b-30 pad-t-20 bg-white">
         <div class="col-sm-12 no-pad text-center" ng-if="recently[9].category != 'Rings' && recently[9].category != 'Bangles' && recently[9].category != 'Bracelets'">
          <a class="buy-now-featured-sm" data-ng-click="buyNow(recently[9])"> 
             Buy Now 
          </a>
         </div>
         <div class="col-sm-12 no-pad text-center" ng-if="recently[9].category == 'Rings' || recently[9].category == 'Bangles' || recently[9].category == 'Bracelets'">
          <a class="buy-now-featured-sm" data-ng-href="/product/{{recently[9].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
         </div>    
        </div>

        </a>
      </div>
     </div>
    </div>
       
    <div class="item" data-ng-if="recently.length>10">
     <div class="row box-outside-shadow">
      <div class="col-sm-6 no-pad" data-ng-if="recently.length>10">
       <a data-ng-href="/product/{{recently[10].urlslug}}.html" target="_self">
                                       
        <div class="product_image">
         <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{recently[10].VC_SKU}}-t.jpg" class="carousel-img img-responsive"/>
        </div>
                
        <div class="row bg-white">
         <div class="col-sm-12 text-center grid-price-after-sm">
              RS. {{recently[10].price_after_discount | INR}}
         </div>
        </div> 
           
        <div class="row pad-b-30 pad-t-20 bg-white">
         <div class="col-sm-12 no-pad text-center" ng-if="recently[10].category != 'Rings' && recently[10].category != 'Bangles' && recently[10].category != 'Bracelets'">
          <a class="buy-now-featured-sm" data-ng-click="buyNow(recently[10])"> 
             Buy Now 
          </a>
         </div>
         <div class="col-sm-12 no-pad text-center" ng-if="recently[10].category == 'Rings' || recently[10].category == 'Bangles' || recently[10].category == 'Bracelets'">
          <a class="buy-now-featured-sm" data-ng-href="/product/{{recently[10].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
         </div>    
        </div>

        </a>
      </div>
              
      <div class="col-sm-6 no-pad" data-ng-if="recently.length>11">
       <a data-ng-href="/product/{{recently[11].urlslug}}.html" target="_self">
                                       
        <div class="product_image">
         <img data-ng-src="https://www.vivocarat.com/images/products-v2/{{recently[11].VC_SKU}}-t.jpg" class="carousel-img img-responsive"/>
        </div>
                
        <div class="row bg-white">
         <div class="col-sm-12 text-center grid-price-after-sm">
              RS. {{recently[11].price_after_discount | INR}}
         </div>
        </div> 
           
        <div class="row pad-b-30 pad-t-20 bg-white">
         <div class="col-sm-12 no-pad text-center" ng-if="recently[11].category != 'Rings' && recently[11].category != 'Bangles' && recently[11].category != 'Bracelets'">
          <a class="buy-now-featured-sm" data-ng-click="buyNow(recently[11])"> 
             Buy Now 
          </a>
         </div>
         <div class="col-sm-12 no-pad text-center" ng-if="recently[11].category == 'Rings' || recently[11].category == 'Bangles' || recently[11].category == 'Bracelets'">
          <a class="buy-now-featured-sm" data-ng-href="/product/{{recently[11].urlslug}}.html" target="_self"> 
             Buy Now 
          </a>
         </div>    
        </div>

        </a>
      </div>
     </div>
    </div>
                     
   </div>
            
       </div>
  
      </div>
    </div>

<script>
$(document).ready(function() {
    
   $(".carousel").swiperight(function() {
      $(this).carousel('prev');
    });
   $(".carousel").swipeleft(function() {
      $(this).carousel('next');
   });
});
</script>