<!DOCTYPE html>
<html ng-app="vivoStore">

<head>
    <meta http-equiv="Content-Language" content="en" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Vivo">
    <link rel="icon" href="https://www.vivocarat.com/images/icons/favico.png" type="image/x-icon" />
    
    <title>$title</title>
    <meta name="keywords" content="$meta_keywords" >
    <meta name="description" content="$meta_description" />
    <meta name="robots" content="$meta_robots" >
    <meta property="og:url" content="$og_url" />  
    <meta property="og:description" content="$og_description" />
    <meta property="og:title"         content="$og_title" />
    <meta property="og:type"          content="$og_type" />
    <meta property="og:image" content="$og_image" />
    <link rel="canonical" href="$canurl" />

    <!-- SEO -->
    <meta name="robots" content="noindex,nofollow" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="google-site-verification" content="d29imIOMXVw4oDrvX0W26H7Dg3_nAHDi75mhXZ5Wpc4" />
    <meta property="og:description" content="India's finest online jewellery" />

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#E62739">
    <meta name="msapplication-navbutton-color" content="#E62739">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" href="/css/jquery.simplyscroll.css" media="all" type="text/css">
    <link type="text/css" href="/css/magnific-popup.css" media="all" />

    <link href="/css/angular.rangeSlider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- menu css-->
    <link rel="stylesheet" type="text/css" href="/m-css/component.css" />
    <!--END of menu css-->

    <!--For full screen product image view-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

    <!-- FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
    
    <link rel="stylesheet" href="/m-css/style.css"> 

    <!-- Facebook Pixel Code -->
    <script>
        ! function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        /*fbq('init', '293278664418362', {
            em: 'insert_email_variable,'
        });*/
        fbq('init', '293278664418362');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=293278664418362&ev=PageView&noscript=1"
    /></noscript>
    <!-- DO NOT MODIFY -->

    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1026045347487468&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->

    <!-- onesignal start   -->
    <link rel="manifest" href="/manifest.json">
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
    <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(["init", {
            appId: "07f1f127-398a-4956-abf1-3d026ccd94d2",
            autoRegister: true,
            notifyButton: {
                enable: false /* Set to false to hide */
            }
        }]);
    </script>
    <!-- onesignal end   -->
</head>

<body id="cont" data-ng-controller='storeCtrl' ng-cloak>
    <vivo-header></vivo-header>
    <div class="well" data-ng-hide="isLoaded"> Loading</div>
    <div class="row" data-ng-show="isLoaded">
        <div class="col-xs-12 mob-top-pad no-pad-lr">
            <img ng-src="https://www.vivocarat.com/images/mobile/store/banners/{{store}}.jpg" class="img-responsive w-full" alt="{{store}}">
        </div>
    </div>
    <!-- Old code hidden by PR
    <div class="row visible-xs hidden-sm hidden-md">
        <div class="col-xs-6 vivocarat-heading">
            <h2>CATEGORIES</h2>
        </div>

        <div class="col-xs-6 categoryGrad">

        </div>
    </div>

    <div class="row visible-sm visible-md hidden-xs">
        <div class="col-sm-3 vivocarat-heading-sm">CATEGORIES</div>

        <div class="col-sm-9 categoryGrad-sm">

        </div>
    </div>
    Old code hidden by PR -->
    <section>
        <div class="row" data-ng-show="isLoaded">
            <div class="col-xs-12">
                <h2 class="hr"><span>CATEGORIES</span></h2>
            </div>
        </div>
        <div class="row" data-ng-show="isLoaded">
            <div class="row well m-t-50" data-ng-show="categoriesList==null || categoriesList=='' || categoriesList.length<1">
                No Such store found
            </div>

            <div data-ng-hide="categoriesList==null || categoriesList=='' || categoriesList.length<1" class="row">

                <div data-ng-repeat="c in categoriesList" class="col-xs-6 pad-t-20">
                    <a href="/brands/{{store}}/{{c.category}}.html" target="_self">
                        <img class="img-responsive" ng-src="https://www.vivocarat.com/images/store/store_category/{{store}}/{{c.category}}.jpg" alt="{{c.category}}">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Old code hidden by PR
        <div class="row visible-xs hidden-sm hidden-md">
            <div class="col-xs-5 vivocarat-heading">
                <h2>ABOUT US</h2>
            </div>

            <div class="col-xs-7 categoryGrad">

            </div>
        </div>

        <div class="row visible-sm visible-md hidden-xs">
            <div class="col-sm-2 vivocarat-heading-sm">ABOUT US</div>

            <div class="col-sm-10 categoryGrad-sm">

            </div>
        </div>
        Old code hidden by PR -->
    <section>
        <div class="row" data-ng-show="isLoaded">
            <div class="col-xs-12">
                <h2 class="hr"><span>ABOUT US</span></h2>
            </div>
        </div>

        <div class="row" data-ng-show="isLoaded">
            <div data-ng-bind-html='jeweller.description' class="col-xs-12 theme-text">

            </div>
        </div>
    </section>
    <vivo-footer></vivo-footer>

    <script src="/js/jquery.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="/js/jquery.simplyscroll.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-ui-router.min.js"></script>
    <script src="/js/angular-animate.min.js"></script>
    <script src="/js/angular-sanitize.js"></script>
    <script src="/js/satellizer.min.js"></script>
    <script src="/js/angular.rangeSlider.js"></script>
    <script src="/js/select.js"></script>
    <script src="/js/toaster.js"></script>
    <script src="/js/angular-google-plus.min.js"></script>

    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
    <script src="/js/ngclipboard.min.js"></script>
    <script src="/js/notify.min.js"></script>

    <!--For loading list,splist & search items(pagination)-->
    <script src="/js/taggedInfiniteScroll.js"></script>
    <!--END of pagination script-->

    <!--For file upload-->
    <script src="/js/angular-file-upload.min.js"></script>
    <!--End scripts for file upload-->

    <script src="/m-js/modules/vivoCommon.js"></script>
    <script src="/m-js/modules/vivoStore.js"></script>
    <script src="/app/data.js"></script>
    <script src="/app/directives.js"></script>
    <script src="/js/jquery-ui.min.js"></script>

    <!--Script for carousel touch swipe-->
    <script>
        $(document).bind('mobileinit', function() {
            $.mobile.changePage.defaults.changeHash = false;
            $.mobile.hashListeningEnabled = false;
            $.mobile.pushStateEnabled = false;
        });
    </script>
    <script src="/js/jquery.mobile-1.4.5.min.js"></script>
    <!--END of Script for carousel touch swipe-->

    <!--To prevent display of loading text while page loads-->
    <script>
        $(document).ready(function() {
            $(".ui-loader").hide();
        });
    </script>
    <!--END of loading text display prevention-->

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <!--    <script src="/js/jquery.etalage.min.js"></script>-->

    <!--Google analytics-->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-67690535-1', 'auto');
        ga('send', 'pageview');
    </script>

    <!--Full screen product image view js-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

    <!--menu-->
    <script src="/m-js/modernizr.custom.js"></script>
    <script src="/m-js/jquery.dlmenu.js"></script>
    <!--END of menu-->

    <!--Start of Tawk.to Script-->
    <script>
        var Tawk_API = Tawk_API || {},
            Tawk_LoadStart = new Date();
        (function() {
            var s1 = document.createElement("script"),
                s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/59198f0664f23d19a89b22bb/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

</body>

</html>