<div class="well" data-ng-hide="isLoaded"> Loading</div>

<div class="top-box1" data-ng-mouseover="closeFilter()" data-ng-show="isLoaded">

    <div class="row well" data-ng-show="resultList.length<1">
        No products found
    </div>

    <div class="row">
        <div data-ng-show="isGrid" data-ng-repeat="p in resultList track by $index | orderBy:predicate:reverse" class="col-xs-6 no-pad vivo-box-padding">
            <div class="">
                <div class="inner_content clearfix box-outside-shadow">
                    <div class="tag">
                        <img data-ng-if="p.ready_to_ship==1" src="https://www.vivocarat.com/images/list/icons/ready-to-ship.png" alt="ready to ship">
                    </div>

                    <a href="/product/{{p.urlslug}}.html" target="_self">
                        <img class="img-responsive  w-full" src="https://www.vivocarat.com/images/list/icons/image filler.jpg" actual-image="https://www.vivocarat.com/images/products-v2/{{p.VC_SKU}}-t.jpg" alt="{{p.title}}">
                    </a>
                    <div class="row pad-5">
                        <div class="row">
                            <!--<div class="row m-t-10">
                                <div class="col-sm-12 text-center">

                                </div>
                            </div> Old code hidden by PR -->

                            <div class="row pad-lr-5 pad-b-10">
                                <div class="row t12" data-ng-hide=" p.discount==0">
                                    <span class="m-r-20 line-through">
                                        RS. {{p.price_before_discount | INR}}
                                    </span>
                                    <span>{{p.discount}}% OFF</span>
                                </div>

                                <div class="row" data-ng-show="p.discount==0">
                                    <div style="padding-bottom:17px;"></div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 grid-price-after pad-lr-0">
                                        RS. {{p.price_after_discount | INR}}
                                        <img data-ng-click="addToWatchlist(p)" class="pointer exclude pull-right" src="https://www.vivocarat.com/images/list/icons/wishlist.png" title="Wishlist" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="row hidden-xs visible-sm visible-md">
                            <div class="row m-t-10">
                                <div class="col-sm-12 text-center">

                                </div>
                            </div>

                            <div class="row pad-l-10 m-b-10">
                                <div class="row" data-ng-hide=" p.discount==0">
                                    <div class="col-xs-6 grid-price-before-sm no-pad">
                                        RS. {{p.price_before_discount | INR}}
                                    </div>
                                    <div class="col-xs-6 grid-off-sm no-pad">
                                        {{p.discount}}% OFF
                                    </div>
                                </div>

                                <div class="row" data-ng-show="p.discount==0">
                                    <div style="padding-bottom:17px;"></div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 grid-price-after-sm pad-l-0">
                                        RS. {{p.price_after_discount | INR}}
                                    </div>
                                    <div class="col-xs-6 grid-price-after-sm pad-l-0">
                                        <img data-ng-click="addToWatchlist(p)" class="pointer" src="https://www.vivocarat.com/images/list/icons/wishlist.png" title="Wishlist" alt="add product to wishlist">
                                    </div>
                                </div>
                            </div>
                        </div> Old code hidden by PR -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id='loadmore' tagged-infinite-scroll='loadMore()'></div>

<div class="clear"></div>